/* main settings */

body {
    --el-height: 30rem;
    font-family: "MuseoModerno", sans-serif, serif, cursive;
    margin: 0;
    background-color: #090620;
}

h1, h3, p {
    color: azure;
    font-size: 400;
}

#tsparticles {
    object-fit: cover;
    position: fixed;
    width: 100%;
    height: 100%;
}

.navbar {
    position: absolute;
    padding: 1.5em 1em;
    text-align: right;
    right: 0;
    margin: 0;
}

.navbar > a:link, a:visited {
    font-weight: 600;
    text-decoration: none;
    color: azure;
    text-shadow: 0.25rem 0.25rem 0.25rem rgb(209, 135, 224);
    margin: 0.5em
}

.navbar > a:hover {
    text-shadow: 0.25rem 0.25rem 0.25rem rgb(135, 218, 224)
}

.navbar > a:active {
    text-decoration: underline;
}

/* search page */

.data-container {
    background-color: rgba(7, 7, 7, 0.7);
    border: 0.125em rgb(29, 29, 29) solid;
    border-radius: 1rem;
    width: fit-content;
    height: fit-content;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: azure;
    margin: 0 auto;
    padding: 0.5em;
    justify-content: space-between;
    align-items: center;
}

#query-bg {
    font-size: 400;
    overflow: auto;
}

#model-bg {
    background: no-repeat center url(../assets/img/black-circle.png);
    background-size: cover;
    justify-self: auto;
    justify-content: center;
}

#vl {
    border-left: 0.125rem solid azure;
    margin-right: 0.625rem;
    margin-left: 0.375rem;
    height: var(--el-height);
}