body {
    background-color: #090620;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

#particles-js {
    background: inherit;
    object-fit: cover;
    position: fixed;
    width: 100%;
    height: 100%;
}

h1 {
    color: wheat;
    display: flex;
}